.restaurant-list-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.restaurant-box {
    width: 80%;
}

.restaurant-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.restaurant-section-wrapper {
    position: relative;
    background-color: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
}

.link-style {
    text-decoration: none;
}

.restaurant-section {
    padding: 20px;
}

.restaurant-section img {
    width: 100%;
    height: auto; /* Sửa lại để không cố định chiều cao */
    max-height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.restaurant-section h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.restaurant-section p {
    margin: 5px 0;
    font-size: 1rem;
}

/* Hover effect */
.restaurant-section-wrapper:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}
