.container {
    background-color: #eadcdc;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: fit-content;
    border-radius: 20px;
}

h1 {
    margin-top: 30px;
    text-align: left;
    margin-left: 11.5rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    font-size: 1rem;

    input {
        margin-bottom: 1.5rem;
        margin-left: 2rem;
        margin-right: 2rem;
        height: 3rem;
        border-radius: 3rem;
        border: 0.5px solid #ccc;

        &::placeholder {
            padding-left: 1rem;
        }
    }

}

.input-container .input-version-2 {
    margin-left: 2.5rem;
    display: flex;
    h5 {
        margin-right: 10rem;
        .menu{
            margin-right: 15rem;
        }
    }
}

.input,
.select {
    padding: 10px;
    border-radius: 30px;
    border: 0.5px solid #ccc;
    font-size: 16px;
    margin-bottom: 1.5rem;
}

.input .select {
    background-color: #d9d9d9;
}

.checkout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.checkout-button button {
    border-radius: 20px;
    margin-right: 20px;
}

.button-checkout-now {
    background-color: #cfa924;
    color: #fff;
    border: none;
    padding: 10px;
}

.button-cancel {
    color: #fff;
    border: none;
    background-color: rgb(108, 20, 20);
    padding: 10px;
}

@media (max-width: 600px) {

    .input,
    .select {
        width: 100%;
    }
}