$primary-color: rgb(108, 20, 20);
$light-gray: #ccc;
$medium-gray: #d9d9d9;
$background-color: #eadcdc;
$hover-color-1: rgb(53, 10, 10);
$hover-color-2: #797979;

.container {
    background-color: $background-color;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid $light-gray;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.radio-buttons label {
    margin-right: 10px;
}

.radio-buttons input {
    margin-right: 5px;
}

.button-checkout-now {
    background-color: $primary-color;
    color: white;
    margin-right: 10px;
}

.button-cancel {
    background-color: $medium-gray;
    color: black;
}

.button-checkout-now:hover {
    background-color: $hover-color-1;
}

.button-cancel:hover {
    background-color: $hover-color-2;
}

h1 {
    color: $primary-color;
    margin-bottom: 20px;
}

.checkout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.checkout-button button {
    margin: 5px;
}
