.party-information-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        background-color: #f3dc0c;
        display: flex;
        justify-content: center;
        width: 15%;
        border-radius: 40px 40px 40px 40px;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
        padding: 5px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .party-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        width: 100%;
        max-width: 1200px;
        margin-bottom: 50px;

        .party-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
            overflow: hidden;
            border-radius: 5px;

            &:hover {
                transform: translateY(-5px);
            }

            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
            }

            .upper-box,
            .party-contents {
                padding: 10px;
            }

            .upper-box {
                font-size: 18px;
                font-weight: bold;
                text-align: center;
            }

            .party-contents {
                list-style: none;
                padding: 0;
                li {
                    margin-bottom: 5px;
                }
            }

            .under-box {
                margin: 10px 0;
                a {
                    display: inline-block;
                    padding: 8px 15px;
                    background-color: #a48a00;
                    color: white;
                    border-radius: 5px;
                    text-decoration: none;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: darken(#a48a00, 10%);
                    }
                }
            }
        }
    }
}
