.restaurant-title {
    font-size: 30px;
    margin-top: 20px;
    text-align: left;
    margin-left: 20px;
}

.restaurant-detail {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start; 
    margin-left: 220px; 
}

.restaurant-image {
    max-width: 400px;
    margin-right: 20px;
}

.restaurant-name {
    font-size: 20px;
    margin-bottom: 10px;
}

.restaurant-description {
    list-style-type: none;
    padding: 0;
}

.restaurant-description li {
    margin-bottom: 5px;
}

.review-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.reviews-container h2 {
    margin-top: 20px;
    margin-left: 220px;
}

.reviews-container .review {
    background: linear-gradient(to right,
            rgb(243, 220, 12),
            rgb(189, 196, 148));
    margin-right: 30px;
    border-radius: 20px;
}

.review {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.reviewer-name {
    font-weight: bold;
}

.reviewer-rating {
    margin: 0 5px;
}

.review-text {
    font-size: 14px;
}

.booking-container h2 {
    text-align: center;
}

.booking-container {
    .booking-container-form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        table {
            .booking-header {
                background-color: #cfa924;
                color: #fff;
                list-style: none;
                th {
                    padding: 8px;
                }
            }

            .sub-content {
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    margin-bottom: 5px;
                }
            }

            .booking-details {
                padding: 0;
                margin: 0;
                li {
                    list-style: none;
                    text-align: left;
                    justify-content: right;
                    margin-bottom: 5px;
                }

            }

            .cost {
                p {
                    padding: 5px;
                    margin: 0;
                }
            }
        }
    }

    .booking-actions {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
}

.booking-actions button {
    border-radius: 20px;
    margin-right: 20px;
    padding: 10px;
    border: none;

}

.booking-actions .button-book-now {
    background-color: #cfa924;
    color: #fff;
}

.booking-actions .button-view-more {
    background-color: red;
    color: #fff;
}