.carousel-container {
    position: relative;
    margin: 0 auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    overflow: hidden;

    .carousel-item {
        position: relative;
        width: 100%;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5);
            z-index: 2;
        }

        img {
            width: 100%;
            display: block;
            border-radius: 0;
        }
    }

    .icon-body {
        position: absolute;
        height: 150px;
        width: 150px;
        top: 250px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        overflow: hidden;
        background: url("/src/SWP_RESOURCE/pictures/z5120957459050_426078a0d112eb6024986efd8aea3ff3.jpg");
        background-size: cover;
        background-position: center;
    }

    .title-body {
        position: absolute;
        width: 100%; // Adjust width as needed
        left: 50%; 
        top: 50%; 
        transform: translate(-50%, -50%);
        font-family: "Itim";
        font-style: normal;
        font-weight: 400;
        font-size: 100px; // Adjust font size as needed
        line-height: 60px; // Adjust line height as needed
        text-align: center;
        color: #ffffff;
    }

    .content {
        position: absolute;
        width: 100%; // Adjust width as needed
        left: 50%;
        top: 60%; // Adjust top position as needed
        transform: translateX(-50%);
        font-family: "Itim";
        font-style: normal;
        font-size: 18px; // Adjust font size as needed
        line-height: 30px; // Adjust line height as needed
        color: #ffffff;
        text-indent: 30px;
        text-align: center;
    }

    .action-button {
        position: absolute;
        top: 70%; // Adjust top position as needed
        left: 50%;
        transform: translateX(-50%);
        background: #cfa924;
        font-family: "Itim", cursive;
        font-size: 20px;
        color: black;
        padding: 10px 20px;
        border: none;
        border-radius: 40px;
        cursor: pointer;

        &:hover {
            background: #816916;
            color: white;
            transition: background 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
                color 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
    }
}
