.search-filter-container {
     background-color: beige;
     padding: 50px;
     padding-bottom: 16px;
     border-radius: 5px;
    h2 {
      text-transform: uppercase;
    }
  
    h3 {
      margin-top: 20px;
    }
  
    label {
      display: block;
      margin-bottom: 8px; 
    }
  
    input[type="checkbox"],
    input[type="radio"] {
      margin-right: 5px; 
    }
  }
  